<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo" ng-app="myApp">
    <head>
        <title>Arnauditc</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="keywords" content="Arnauditc International Treading Company">
        <meta name="date" content="Dec 26">
        <link rel="icon" href="img/favicon.ico" type="image/x-icon">

        <!-- Stylesheets-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hind:400,300,700%7CMontserrat:400,700">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/style2.css">

        <!-- ANGULAR JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>

        <!-- JQUERY -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- LOCAL -->
        <script type="text/javascript" src="js/config.js"></script>
        <script type="text/javascript" src="js/factories.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
    </head>
    <body ng-controller="mainController">
        <div class="page text-center">
            <header class="page-head header-panel-absolute">
                <div class="rd-navbar-wrap">
                    <nav data-md-device-layout="rd-navbar-static" data-md-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-stick-up-offset="95" class="rd-navbar rd-navbar-default" data-lg-auto-height="true" data-auto-height="false" data-lg-stick-up="true">
                        <div class="rd-navbar-inner">
                            <div class="rd-navbar-panel">
                                <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
                                <button data-rd-navbar-toggle=".right-side" class="rd-navbar-right-side-toggle veil-md"><span></span></button>
                                <div class="shell">
                                    <div class="range range-md-middle range-lg-top">
                                        <div class="cell-md-3 left-side">
                                            <div class="clearfix text-lg-left text-center">
                                                <div class="rd-navbar-brand"><a ng-click="homeRelo()" href="/"><img width='165' height='76' src='img/logo-light-212x100.png' alt=''/></a></div>
                                            </div>
                                        </div>
                                        <div class="cell-md-9 text-md-right right-side">
                                            <ul class="offset-lg-top-15 list-unstyled">
                                                <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-envelope-o text-middle icon-primary"></span><a href="mailto:thierry@arnauditc.com" class="inset-left-10 text-middle">thierry@arnauditc.com</a></li>
                                                <!-- <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-clock-o text-middle icon-primary"></span><span class="inset-left-10 text-middle">Mon–Sat: 7:00–19:00</span></li> -->
                                                <!-- <li class="reveal-md-inline-block"><span class="icon icon-xxs fa-phone text-middle icon-primary"></span><a href="callto:#" class="inset-left-10 text-middle">1-800-1234-567</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rd-navbar-menu-wrap">
                                <div class="rd-navbar-nav-wrap">
                                    <div class="rd-navbar-mobile-scroll">
                                        <div class="rd-navbar-mobile-header-wrap">
                                            <div class="rd-navbar-mobile-brand"><a ng-click="homeRelo()" href="/"><img width='165' height='76' src='img/logo-light-212x100.png' alt=''/></a></div>
                                        </div>
                                        <ul class="rd-navbar-nav">
                                            <li><a href="/" ng-click="homeRelo()">Home</a>
                                            </li>
                                            <li><a href="/quote">Quote</a>
                                            </li>
                                            <li><a href="/about_us">About us</a></li>
                                            <li class=" tabs-nav"><a href="/services">Services</a>
                                                <ul class="rd-navbar-dropdown">
                                                    <li><a>Finding your product</a></li>
                                                    <li><a>Customs broker</a></li>
                                                    <li><a>Labeling & packaging</a></li>
                                                    <li><a>Shipping</a></li>
                                                </ul>
                                            </li>
                                            <li class=" tabs-nav"><a href="/products">Products</a>
                                                <ul class="rd-navbar-dropdown">
                                                    <li><a href="/farm_products">Farm products</a></li>
                                                    <li><a href="/food_packaging">Food packaging</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="/contact">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>

            <main class="page-content">
                <section class="context-dark bg-dark-blue" ng-show="isHome">
                    <div data-height="35.5%" data-loop="true" data-dragable="false" data-min-height="530px" data-slide-effect="true" class="swiper-container swiper-slider">
                        <div class="swiper-wrapper">
                            <div data-slide-bg="img/home/bg-02-1920x660.jpg" style="background-position: center center" class="swiper-slide">
                                <div class="swiper-slide-caption">
                                    <div class="container">
                                        <div class="range range-xs-center range-lg-left">
                                            <div class="cell-lg-7 text-lg-left cell-xs-10">
                                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                                    <h1><a href="/about_us">Delivery unlimited.</a></h1>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="150" class="offset-top-30">
                                                    <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">We will look for your product and get it right where you need it and when you need it. We have no boundaries!</h4>
                                                    <h4 class="font-default text-light text-spacing-20 veil-sm">Learn more about Arnauditc</h4>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="200" class="offset-top-20"><a href="/about_us" class="btn btn-default btn-sm veil reveal-lg-inline-block">learn more</a><a href="#" data-custom-toggle="quote-form" class="btn btn-primary btn-sm veil-lg">Quick Quote</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-slide-bg="img/home/bg-03-1918x761.jpg" style="background-position: center center" class="swiper-slide">
                                <div class="swiper-slide-caption">
                                    <div class="container">
                                        <div class="range range-xs-center range-lg-left">
                                            <div class="cell-lg-7 text-lg-left cell-xs-10">
                                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                                    <h1><a href="/about_us">A partnership based on trust.</a></h1>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="150" class="offset-top-30">
                                                    <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">We strive to ensure that our services have become a benchmark of quality in the field of the delivery.</h4>
                                                    <h4 class="font-default text-light text-spacing-20 veil-sm">Learn more about Arnauditc</h4>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="200" class="offset-top-20"><a href="/about_us" class="btn btn-default btn-sm veil reveal-lg-inline-block">learn more</a><a href="#" data-custom-toggle="quote-form" class="btn btn-primary btn-sm veil-lg">Quick Quote</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-slide-bg="img/home/bg-04-1918x660.jpg" style="background-position: center center" class="swiper-slide">
                                <div class="swiper-slide-caption">
                                    <div class="container">
                                        <div class="range range-xs-center range-lg-left">
                                            <div class="cell-lg-7 text-lg-left cell-xs-10">
                                                <div data-caption-animate="fadeInUp" data-caption-delay="200">
                                                    <h1><a href="/products">Our Products</a></h1>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="300" class="offset-top-30">
                                                    <h4 class="font-default text-light text-spacing-20 veil reveal-sm-block">We offer best quality & prices in limes, pineapple and onions. Anywhere you needed!.</h4>
                                                    <h4 class="font-default text-light text-spacing-20 veil-sm">Learn more about our products</h4>
                                                </div>
                                                <div data-caption-animate="fadeInUp" data-caption-delay="500" class="offset-top-20"><a href="/products" class="btn btn-default btn-sm veil reveal-lg-inline-block"> learn more</a><a href="#" data-custom-toggle="quote-form" class="btn btn-primary btn-sm veil-lg">Quick Quote</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div id="quote-form" class="quote-form">
                            <div class="container">
                                <div class="range range-xs-center range-lg-right">
                                    <div class="cell-xs-10 cell-sm-8 cell-lg-5 text-left offset-top-0">
                                        <div class="inset-lg-left-70">
                                            <div class="quote-form-body"><a href="" data-custom-toggle="quote-form" class="close icon icon-xxs fa-close text-white"></a>
                                                <div>
                                                    <h3>Quick Quote</h3>
                                                </div>
                                                <div class="offset-top-10">
                                                    <p>Please contact us and we will respond as soon as possible.</p>
                                                </div>
                                                <div class="offset-top-10">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control forma" placeholder="Name *" ng-model="cotizacionRapida.nombreCliente">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control forma" placeholder="Product *" ng-model="cotizacionRapida.producto">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control forma" placeholder="Type of service: Air, Sea or Land *" ng-model="cotizacionRapida.tipoServicio">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control forma" placeholder="Email *" ng-model="cotizacionRapida.email">
                                                    </div>
                                                    <div class="offset-top-10">
                                                        <p>* Required fields</p>
                                                    </div>
                                                    <!-- Mensajes de verificación -->
                                                    <div class="row show-hide-message" ng-show="msgExito">
                                                        <div class="alert alert-success">
                                                            {{ msgExito }}
                                                        </div>
                                                    </div>
                                                    <div class="row show-hide-message" ng-show="msgError">
                                                        <div class="alert alert-danger">
                                                            {{ msgError }}
                                                        </div>
                                                    </div>
                                                    <a class="offset-top-10 btn btn-sm btn-primary" ng-click="cRapida()">Send</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <div ng-view=""></div>

            <footer class="section-65 page-footer bg-lightest section-skew">
                <div class="skew-block"></div>
                <div class="shell">
                    <div class="range range-xs-center range-sm-middle">
                        <div class="cell-xs-10 cell-md-3 text-md-left cell-md-push-1">
                            <a href="index.html"><img src='img/logo2-light-212x100.png' alt=''/></a>
                        </div>
                        <div class="cell-xs-10 cell-md-3 text-md-right cell-md-push-3 offset-top-20 offset-md-top-0">
                            <ul class="list-inline list-inline-dark">
                                <!-- <li><a href="#" class="icon icon-xxs fa-facebook"></a></li> -->
                            </ul>
                        </div>
                        <div class="cell-xs-10 cell-md-6 cell-md-push-2 offset-top-20 offset-md-top-0">
                            <p class="text-gray">&copy; <span id="copyright-year"></span> All Rights Reserved <a href="/terms_of_use" class="text-dark">Terms of Use</a> and <a href="/privacy_policy" class="text-dark">Privacy Policy</a></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Java script-->
        <script src="js/core.min.js"></script>
        <script src="js/script.js"> </script>
    </body>
</html>
