<div ng-controller="contactoController">
	<div>
        <img height="300px" src="img/home/bg-01-1920x400.jpg">       
    </div>

	<main class="page-content">
        <section class="section-70 section-md-90">
          	<div class="shell text-md-left">
              	<div class="range range-xs-center">
            		<div class="cell-xs-10 cell-md-8">
                		<h2>Contact</h2>
                		<hr class="divider divider-lg bg-primary hr-sm-left-0">
                		<div class="offset-top-50">
                  			<p>You can contact us any way that is convenient for you. We are available 24/7 via email.</p>
                  			<p>Email us with any questions or inquiries or use our contact data. We would be happy to answer your questions.</p>
                		</div>
                		<div class="offset-top-30">
                  			<form data-form-output="form-output-global" data-form-type="contact" class="rd-mailform text-left">
                      			<div class="range range-narrow">
                    				<div class="cell-lg-6">
                      				    <div class="form-group">
            								<label class="form-label form-label-outside"> Name *</label>
            								<input type="text" placeholder="Name" class="form-control" ng-model="contacto.nombreCliente">
          							    </div>
                    				</div>
                    				<div class="cell-lg-6 offset-top-10 offset-lg-top-0">
                      				    <div class="form-group">
            								<label class="form-label form-label-outside"> Last Name *</label>
            								<input type="text" placeholder="Last Name" class="form-control" ng-model="contacto.apellidoCliente">
          							    </div>
                    				</div>
                    				<div class="cell-lg-12 offset-top-10">
                      				    <div class="form-group">
            								<label class="form-label form-label-outside"> Email *</label>
            								<input type="email" placeholder="Email" class="form-control" ng-model="contacto.email">
          							    </div>
                    				</div>
                    				<div class="cell-lg-12 offset-top-10">
                      				    <div class="form-group">
            								<label class="form-label form-label-outside"> Message</label>
            								<textarea id="contact-me-message" style="height: 160px" class="form-control" placeholder="Message" ng-model="contacto.comentarios"></textarea>
	                    				</div>
                    				</div>
                      			</div>
                                <div class="offset-top-10">
                                    <p>* Required fields</p>
                                </div>
                                <!-- Mensajes de verificación -->
                                <div class="row show-hide-message" ng-show="msgExito">
                                    <div class="alert alert-success">
                                        {{ msgExito }}
                                    </div>
                                </div>
                                <div class="row show-hide-message" ng-show="msgError">
                                    <div class="alert alert-danger">
                                        {{ msgError }}
                                    </div>
                                </div>
                      			<div class="text-center text-lg-left offset-top-10">
                        			<button type="submit" class="btn btn-sm btn-primary" ng-click="sendContacto(contacto)">Send</button>
                      			</div>
                  			</form>
                		</div>
            		</div>
            		<div class="cell-xs-10 cell-md-4 offset-top-65 offset-md-top-0">
              		    <div class="inset-md-left-30">
                			  <!-- <div class="offset-top-40">
                  			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                    				    <div class="unit-left"><span style="font-size: 24px; line-height:24px" class="icon icon-xxs icon-primary fa-map-marker offset-top-5"></span></div>
                    				    <div class="unit-body contact-info">
                      				      <h5>Dirección</h5>
                      				      <address><a href="#">9863 - 9867 Mill Road,<br> Cambridge, MG09 99HT.</a></address>
                    				    </div>
                  			    </div>
                			  </div> -->
                			  <!-- <div class="offset-top-50">
                  			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                    				    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-phone offset-top-5"></span></div>
                    				    <div class="unit-body contact-info">
                      				      <h5>Teléfono</h5>
                      				      <dl>
                            					  <dt>Tel:</dt>
                            					  <dd><a href="callto:#">+1 800 603 6035</a></dd>
                      				      </dl>              
                    				    </div>
                  			    </div>
                			  </div> -->
                			<div class="offset-top-50">
                  			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                    				<div class="unit-left"><span class="icon icon-xxs icon-primary fa-envelope-o offset-top-5"></span></div>
                    				<div class="unit-body">
                      				    <h5>Email</h5>
                      				    <div class="offset-top-10"><a href="mailto:thierry@arnauditc.com" class="text-primary text-light">thierry@arnauditc.com</a></div>
                    				</div>
                  			    </div>
                			</div>
                			  <!-- <div class="offset-top-50">
                  			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                    				    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-clock-o offset-top-5"></span></div>
                    				    <div class="unit-body">
                            				<h5>Opening Hours</h5>
                            				<p>8:00 - 18:00 Mon - Sat</p>
                    				    </div>
                  			    </div>
                			  </div> -->
              		    </div>
            		</div>
              	</div>
          	</div>
        </section>     
    </main>
</div>