<div ng-controller="contactoController">
	<div>
        <img height="300px" src="img/home/bg-01-1920x400.jpg">       
    </div>

	<main class="page-content">
        <section class="section-70 section-md-90">
          	<div class="shell text-md-left">
              	<div class="range range-xs-center">
                		<div class="cell-xs-10 cell-md-8">
                    		<h2>Contactanos</h2>
                    		<hr class="divider divider-lg bg-primary hr-sm-left-0">
                    		<div class="offset-top-50">
                      			<p>You can contact us any way that is convenient for you. We are available 24/7 via fax or email. You can also use a quick contact form below or visit our office personally.</p>
                      			<p>Email us with any questions or inquiries or use our contact data. We would be happy to answer your questions.</p>
                    		</div>
                    		<div class="offset-top-30">
                      			<form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left">
                          			<div class="range range-narrow">
                            				<div class="cell-lg-6">
                              				  <div class="form-group">
                    								        <label class="form-label form-label-outside"> Nombre *</label>
                    								        <input type="text" placeholder="Nombre" class="form-control">
                  							        </div>
                            				</div>
                            				<div class="cell-lg-6 offset-top-10 offset-lg-top-0">
                              				  <div class="form-group">
                    								        <label class="form-label form-label-outside"> Apellido *</label>
                    								        <input type="text" placeholder="Apellido" class="form-control">
                  							        </div>
                            				</div>
                            				<div class="cell-lg-12 offset-top-10">
                              				  <div class="form-group">
                    								        <label class="form-label form-label-outside"> Correo Electronico *</label>
                    								        <input type="text" placeholder="Correo Electronico" class="form-control">
                  							        </div>
                            				</div>
                            				<div class="cell-lg-12 offset-top-10">
                              				  <div class="form-group">
                    								        <label class="form-label form-label-outside"> Mensaje</label>
                    								        <textarea id="contact-me-message" style="height: 160px" class="form-control" placeholder="Mensaje"></textarea>
      	                    				    </div>
                            				</div>
                          			</div>
                          			<div class="text-center text-lg-left offset-top-10">
                            				<button type="submit" class="btn btn-sm btn-primary">Enviar Mensaje</button>
                          			</div>
                      			</form>
                    		</div>
                		</div>
                		<div class="cell-xs-10 cell-md-4 offset-top-65 offset-md-top-0">
                  		  <div class="inset-md-left-30">
                    			  <div class="offset-top-40">
                      			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                        				    <div class="unit-left"><span style="font-size: 24px; line-height:24px" class="icon icon-xxs icon-primary fa-map-marker offset-top-5"></span></div>
                        				    <div class="unit-body contact-info">
                          				      <h5>Dirección</h5>
                          				      <address><a href="#">9863 - 9867 Mill Road,<br> Cambridge, MG09 99HT.</a></address>
                        				    </div>
                      			    </div>
                    			  </div>
                    			  <div class="offset-top-50">
                      			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                        				    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-phone offset-top-5"></span></div>
                        				    <div class="unit-body contact-info">
                          				      <h5>Teléfono</h5>
                          				      <dl>
                                					  <dt>Tel:</dt>
                                					  <dd><a href="callto:#">+1 800 603 6035</a></dd>
                          				      </dl>              
                        				    </div>
                      			    </div>
                    			  </div>
                    			  <div class="offset-top-50">
                      			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                        				    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-envelope-o offset-top-5"></span></div>
                        				    <div class="unit-body">
                          				      <h5>Email</h5>
                          				      <div class="offset-top-10"><a href="mailto:thierry@arnauditc.com" class="text-primary text-light">info@arnauditc.com</a></div>
                        				    </div>
                      			    </div>
                    			  </div>
                    			  <div class="offset-top-50">
                      			    <div class="unit unit-md unit-md-horizontal text-md-left unit-spacing-lg">
                        				    <div class="unit-left"><span class="icon icon-xxs icon-primary fa-clock-o offset-top-5"></span></div>
                        				    <div class="unit-body">
                                				<h5>Opening Hours</h5>
                                				<p>8:00 - 18:00 Mon - Sat</p>
                        				    </div>
                      			    </div>
                    			  </div>
                  		  </div>
                		</div>
              	</div>
          	</div>
        </section>     
    </main>
</div>