<div ng-controller="cotisacionController">
	<!-- RD Parallax-->
    <div>
        <img height="300px" src="img/home/bg-01-1920x400.jpg">       
    </div>

	  <main class="page-content">
        <section class="section-70 section-md-90">
          	<div class="shell text-sm-left">
              	<h2>Cotización</h2>
              	<hr class="divider divider-lg bg-primary hr-sm-left-0">
              	<div class="offset-top-50">
                		<p>Porfavor complete y envíe este formulario y uno de nuestros representantes responderá lo antes posible. ¡Gracias!</p>
              	</div>
              	<div class="offset-top-20">
                		<form method="post" action="bat/rd-mailform.php" data-form-output="form-output-global" class="rd-mailform text-left">
                    		<div class="range range-xs-bottom">
                      			<div class="cell-sm-6 cell-lg-4">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Nombre *</label>
                            				<input type="text" placeholder="Nombre" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-4 offset-top-30 offset-sm-top-0">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Apellido *</label>
                            				<input type="text" placeholder="Apellido" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-4 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Empresa</label>
                            				<input type="text" placeholder="Nombre Empresa" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-4 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Ubicación</label>
                            				<input type="text" placeholder="Ciudad, País" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-4 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Teléfono</label>
                            				<input type="text" placeholder="Teléfono" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-4 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Correo Electronico *</label>
                            				<input type="text" placeholder="Correo Electronico" class="form-control">
                          			</div>
                      			</div>
                      			<div class="cell-sm-6 cell-lg-3 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Tipo de Servicio</label>
                            				<input type="text" placeholder="Servicio" class="form-control">
      			                    </div>
    			                  </div>
    			                  <div class="cell-sm-6 cell-lg-3 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Origen del Servicio</label>
                            				<input type="text" placeholder="Ciudad, País" class="form-control">
      			                    </div>
    			                  </div>
    			                  <div class="cell-sm-6 cell-lg-3 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Destino del Servicio</label>
                            				<input type="text" placeholder="Ciudad, País" class="form-control">
      			                    </div>
    			                  </div>
    			                  <div class="cell-sm-6 cell-lg-3 offset-top-30">
                          			<div class="form-group">
                            				<label class="form-label form-label-outside"> Producto</label>
                            				<input type="text" placeholder="Producto" class="form-control">
      			                    </div>
    			                  </div>
    			                  <div class="cell-sm-6 cell-lg-12 offset-top-30">
                        			  <div class="form-group">
                            				<label class="form-label form-label-outside"> Comentarios</label>
                            				<textarea id="contact-me-message" style="height: 160px" class="form-control" placeholder="Mensaje"></textarea>
      			                    </div>
    			                  </div>
                      			<div class="cell-sm-3 cell-lg-2 offset-top-30"><a href="#" style="padding-left:30px; padding-right: 30px" class="btn btn-primary btn-sm btn-block">calculate</a></div>
                      			<div class="cell-sm-1 cell-lg-2 offset-top-30">
    			              		    <p>* Campos Obligatorios</p>
    			            	    </div>
                    		</div>
                		</form>
              	</div>
          	</div>
        </section>
    </main>
</div>