<div>
  	<!-- Classic Thumbnail-->
  	<section class="section-80 section-lg-top-90 section-lg-bottom-40">
    	  <div class="shell text-sm-left">
      		  <h2>Nuestros Servicios</h2>
      		  <hr class="divider divider-lg bg-primary hr-sm-left-0">
      		  <div class="range range-xs-center range-sm-left offset-top-50">
        		    <div class="cell-xs-10 cell-sm-8">
          			   <p>Welcome to our transportation world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.</p>
        		    </div>
      		  </div>
      	    <div class="range text-left range-xs-center offset-top-50">
            	  <div class="cell-xs-8 cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="/transportacion" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-01-370x250.jpg" alt="">
    	                  <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
    	                	    <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Transportación</h6>
    	                  </figcaption>
                    </figure></a>
                </div>
                <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" href="/logistica" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-02-370x250.jpg" alt="">
                    	  <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                        	  <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Logistica</h6>
                        </figcaption>
                    </figure></a>
                </div>
                <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0"><a class="thumbnail-classic" href="/distribucion" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-03-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Servicios de Distribución</h6>
                        </figcaption>
                    </figure></a>
                </div> 
            </div>
        </div>
        <div class="offset-top-50"><a href="/productos" class="btn btn-default btn-sm">Ver todos nuestros productos</a></div>    
    </section>

    <section class="section-30 section-lg-top-30 section-lg-bottom-120">
        <div class="skew-block"></div>
        <div class="shell text-sm-left">
            <h2>Nuestros Productos</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="range range-xs-center range-sm-left offset-top-50">
                <div class="cell-xs-10 cell-sm-8">
                    <p>Welcome to our transportation world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.</p>
                </div>
            </div>
            <div class="range text-left range-xs-center offset-top-50">
                <div class="cell-xs-8 cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="/limones" target="_self">
                    <figure><img width="370" height="250" src="img/productos/producto-01-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Limones</h6>
                    </figcaption>
                    </figure></a>
                </div>
                <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" href="/plasticos" target="_self">
                    <figure><img width="370" height="250" src="img/productos/producto-02-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Plasticos</h6>
                        </figcaption>
                    </figure></a>
                </div>
            </div>
        </div>
        <div class="offset-top-50"><a href="/productos" class="btn btn-default btn-sm">Ver todos nuestros productos</a></div>
    </section>

    <!-- Why choose us-->
    <section class="section-80 section-md-top-65 section-md-bottom-120 bg-dark-blue context-dark section-skew section-skew-wide">
      	<div class="skew-block"></div>
  		  <div class="shell text-md-left">
    		    <h2>¿Porqué confiar en nosotros?</h2>
    		    <hr class="divider divider-lg bg-primary hr-md-left-0">
    		    <div class="range text-md-left offset-top-50 range-xs-center">
      			    <div class="cell-sm-8 cell-md-4">
        			      <div class="unit unit-md unit-md-horizontal text-md-left">
          				      <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-thumbs-up"></span></div>
          				      <div class="unit-body">
            				        <h4 class="text-bold">El mejor servicio</h4>
            				        <p>Our mission is to attract and retain customers by providing Best in Class transportation solutions and fostering a profitable, disciplined culture of safety, service, and trust.</p>
          				      </div>
        			      </div>  
                </div>
      			    <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
            			  <div class="unit unit-md unit-md-horizontal text-md-left">
              				  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-users"></span></div>
              				  <div class="unit-body">
                				    <h4 class="text-bold">Reputación</h4>
                				    <p>We have established a strong presence in the transportation industry. Our award-winning services earn a reputation for quality and excellence that few can rival.</p>
              				  </div>
            			  </div>
      			    </div>
      			    <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
        			      <div class="unit unit-md unit-md-horizontal text-md-left">
          				      <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-lock"></span></div>
          				      <div class="unit-body">
            				        <h4 class="text-bold">Seguridad</h4>
            				        <p>Safety for our employees, customers and motoring public will always remain our primary focus in all the policies, procedures and programs that govern our business.</p>
          				      </div>
        			      </div>
      			    </div>
    		    </div>
  		  </div>
    </section>

    <!-- Our Mission-->
    <section class="bg-lightest section-skew">
      	<div class="skew-block"></div>
  		  <div class="shell text-sm-left">
    		    <div class="range range-xs-center range-lg-right offset-top-0">
      			    <div class="cell-xs-10 cell-sm-12 cell-lg-8 section-image-aside section-image-aside-left">
        			      <div style="background-image: url(img/home/home-01-746-561.jpg)" class="section-image-aside-img veil reveal-lg-block"></div>
        			      <div class="section-image-aside-body section-80 offset-lg-top-0 section-lg-90 inset-lg-left-100">
          				      <h2>Nuestra Misión:</h2>
          				      <hr class="divider divider-lg bg-primary hr-sm-left-0">
          				      <div class="offset-top-20 offset-lg-top-50">
                			      <p>Transitec Transportation Company is committed to providing efficient and reliable services across all its business segments to its valued customers where safety is our top priority. Transitec will commit its resources to safe and environmentally sound operating practices.</p>
                			      <p>That will result in providing our employees with a safe work environment and our customers with the assurance of safe, dependable service. We aim to be recognized among current and prospective shipper clients as a premier provider of logistics and transportation services, to be the leader in the transportation management industry.</p>
          				      </div>
        			      </div>
      			    </div>
    		    </div>
 		    </div>
    </section>
</div>