<div ng-controller="logisticaController">
	<div>
        <img height="300px" src="img/servicios/bg-03-1920x400.jpg">       
    </div>
    <section class="section-80 section-lg-top-90 section-lg-bottom-120">
		<div class="shell text-sm-left">
			<h2>Logistica</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
	        <div class="inset-lg-left-60">
	          	<div class="range range-xs-center">
	            	<div class="cell-sm-6"><img src="img/servicios/services-02-350x220.jpg" width="350" height="220" alt="" class="img-responsive reveal-inline-block"></div>
	            	<div class="cell-sm-4">
	              		<h4 class="text-bold text-primary">Care Courier</h4>
	              		<p>Transitec offers our clients professional courier services within the areas of our clients’ residence. Local knowledge of our couriers is second to none. For example, if your customer/recipient isn't at home but works around the corner, our couriers will usually be happy to make a detour to ensure the successful delivery.</p>
	            	</div>
	          	</div>
	          	<div class="range range-xs-center offset-top-60">
	            	<div class="cell-sm-6"><img src="img/servicios/services-03-350x220.jpg" width="350" height="220" alt="" class="img-responsive reveal-inline-block"></div>
	            	<div class="cell-sm-4">
	              		<h4 class="text-bold text-primary">Flatbed Shipping</h4>
	              		<p>Our flatbed shipping experts have the tools and relationships to obtain capacity and move your freight safely and on-time. Whether you need regularly contracted flatbed deliveries, a spot shipment or a long haul, we will give you necessary assistance in choosing the most efficient route and the best flatbed trailer for your freight.</p>
	            	</div>
	          	</div>
	          	<div class="range range-xs-center offset-top-60">
	            	<div class="cell-sm-6"><img src="img/servicios/services-04-350x220.jpg" width="350" height="220" alt="" class="img-responsive reveal-inline-block"></div>
	        		<div class="cell-sm-4">
	          			<h4 class="text-bold text-primary">Specialized Shipping</h4>
	          			<p>If you need more than just an ordinary delivery, this service is just what you need. At Transitec, we will work with you to learn the specific shipping requirements of your freight and help you simplify the transportation process. We monitor your specialized freight shipments to ensure they are delivered to the destination on-time.</p>
	        		</div>
	          	</div>
	        </div>
	    </div>
	    <div class="offset-top-50"><a href="/cotizacion" class="btn btn-primary btn-sm">Cotiza el servicio</a></div>
    </section>
</div>