<div ng-controller="plasticosController">
	<div>
        <img height="300px" src="img/productos/producto-02-1920x400.jpg">       
    </div>
	
	<section class="section-80 section-lg-top-90 section-lg-bottom-120">
		<div class="shell text-sm-left">
			<h2>Food Packaging</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
          	<p>Our services are not limited to delivery of your cargo to any spot on the globe. In the event that your prized car breaks down and needs to be towed to a service station, a flatbed towing truck can provide greater peace of mind that your car will not sustain wear and tear while getting towed to safety. With us, you can request a flatbed tow for your vehicle 24/7.</p>
          	<p>Many tow truck providers prefer using both a dolly and a flatbed tow truck. The former is inexpensive and agile, so providers often favor it when they need to get a motorist stranded on the highway shoulder. Unfortunately, dolly trucks pass wear and tear onto the car attached, and they cannot be considered reliable enough to deliver your car without any troubles to the nearest repair shop.</p>
          	<div class="offset-top-40">
            	<div class="quote-classic-boxed bg-dark-blue context-dark">
              		<div class="quote-body">
                		<q>I would like to take the opportunity to compliment you on your driver, Michael Pool. I needed to know what to do about my car, it wouldn't start. Mr. Cook worked with me for several minutes then told me I needed a tow truck. I believe he went above and beyond the call of duty.</q>
                		<div class="offset-top-10">
                  			<cite>Dennis Williams</cite>
                		</div>
              		</div>
            	</div>
          	</div>
		</div>
		<div class="offset-top-50"><a href="/quote" class="btn btn-primary btn-sm">quote this product</a></div>
	</section>
</div>