<div ng-controller="quienesController">
	<!-- RD Parallax-->
    <div>
        <img height="300px" src="img/home/bg-01-1920x400.jpg">       
    </div>
	
	  <main class="page-content section-top-70 section-md-top-90">
        <section>
          	<div class="shell text-sm-left">
            	  <h2>¿Quienes Somos?</h2>
            	  <hr class="divider divider-lg bg-primary hr-sm-left-0">
            	  <div class="range range-xs-center range-sm-left offset-top-50">
              		  <div class="cell-xs-10 cell-sm-5 text-sm-left"><img src="img/servicios/about-us-01-451x304.jpg" width="451" height="304" alt="" class="img-responsive"></div>
              		  <div class="cell-xs-10 cell-sm-7 offset-top-50 offset-sm-top-0">
                		    <p>Our transportation company with 30 years of experience is you best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
                		    <p>You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume. If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.</p>
              		  </div>
            	  </div>
          	</div>
        </section>

        <!-- counters-->
        <section class="section-65 section-sm-bottom-95 bg-dark-blue context-dark section-skew section-skew-wide offset-top-110">
          	<div class="skew-block"></div>
          	<div class="shell text-md-left">
            	  <h2>Lo que Ofrecemos</h2>
            	  <hr class="divider divider-lg bg-primary hr-md-left-0">
            	  <div class="range text-md-left offset-top-50 range-xs-center">
              		  <div class="cell-sm-8 cell-md-4">
                		    <div class="unit unit-md unit-md-horizontal text-md-left">
                  			    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-cubes"></span></div>
                  			    <div class="unit-body">
                    			      <h4 class="text-bold font-accent">Team Spirit</h4>
                    			      <p>We help each other, wherever we are. This makes work easier.</p>
                  			    </div>
                		    </div>
              		  </div>
              		  <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                		    <div class="unit unit-md unit-md-horizontal text-md-left">
                  			    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-truck"></span></div>
                  			    <div class="unit-body">
                    			      <h4 class="text-bold font-accent">Join the Industry</h4>
                    			      <p>As you might expect, joining this industry gives new opportunities.</p>
                  			    </div>
                		    </div>
              		  </div>
              		  <div class="cell-sm-8 cell-md-4 offset-top-50 offset-md-top-0">
                		    <div class="unit unit-md unit-md-horizontal text-md-left">
                  			    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-map"></span></div>
                  			    <div class="unit-body">
                    			      <h4 class="text-bold font-accent">Find the Nearest Branch</h4>
                    			      <p>You can freely use our interactive map to find the nearest office.</p>
                  			    </div>
                		    </div>
              		  </div>
              		  <div class="cell-sm-8 cell-md-4 offset-top-50">
                		    <div class="unit unit-md unit-md-horizontal text-md-left">
                  			    <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-star"></span></div>
                  			    <div class="unit-body">
                    			      <h4 class="text-bold font-accent">New Technologies</h4>
                    			      <p>If you're in logistics, expect to work with 3-D graphics.</p>
                  			    </div>
                		    </div>
              		  </div>
              		  <div class="cell-sm-8 cell-md-4 offset-top-50">
                		    <div class="unit unit-md unit-md-horizontal text-md-left">
                      			<div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-comments"></span></div>
                      			<div class="unit-body">
                        			  <h4 class="text-bold font-accent">24/7 Support</h4>
                        			  <p>Our experts work day and night to solve all your cargo-related problems.</p>
                      			</div>
                    		</div>
              		  </div>
              		  <div class="cell-sm-8 cell-md-4 offset-top-50">
                  		  <div class="unit unit-md unit-md-horizontal text-md-left">
                    			  <div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled mdi fa-suitcase"></span></div>
                    			  <div class="unit-body">
                      			    <h4 class="text-bold font-accent">Document Preparation</h4>
                      			    <p>Our document maintenance methodology is dependable.</p>
                    			  </div>
                  		  </div>
              		  </div>
            	  </div>
            </div>
        </section>

        <section class="section-85 section-md-top-65 section-skew section-skew-wide bg-white">
          	<div class="skew-block"></div>
          	<div class="shell text-sm-left">
            	  <h2>Professional team</h2>
            	  <hr class="divider divider-lg bg-primary hr-sm-left-0">
            </div>
            <div class="offset-top-50">
          	    <div class="cell-xs-10 cell-sm-6 cell-md-3 offset-top-50 offset-md-top-0"><img src="img/users/user-mark-johnson-270x270.jpg" width="270" height="270" alt="" class="img-responsive reveal-inline-block">
            	      <div class="offset-top-20">
              		      <h5 class="text-primary"><a href="team-member.html">Thierry Arnaud</a></h5>
            	      </div>
            	      <p class="offset-top-5 text-silver">Commercial Relationship Manager</p>
            	      <p>Cristal is the Commercial Relationship Manager at Transitec and is responsible for a portfolio...</p>
          	     </div>
            </div>
        </section>
    </main>
</div>