<div ng-controller="distribucionController">
	  <div>
        <img height="300px" src="img/servicios/bg-03-1920x400.jpg">       
    </div>
    <section class="section-80 section-lg-top-90 section-lg-bottom-120">
      	<div class="shell text-sm-left">
  			    <h2>Servicios de Distribución</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="inset-lg-left-60">
              	<h5 class="text-bold text-primary">Taking Care of Your Fleet</h5>
              	<p>Transitec maintenance leasing is a comprehensive fleet management solution at an agreed rental for the use of specifically selected vehicles over a set period of time and distance. In terms of this all-inclusive, hassle-free contract, we source, procure and deliver the vehicles and bear all risk and maintenance costs, offering you the following:</p>
              	<ul class="list-marked list offset-top-10">
  	                <li>Vehicle selection</li>
  	                <li>Financing</li>
  	                <li>Customized Leasing</li>
  	                <li>Free Replacement</li>
  	                <li>Fuel consumption</li>
              	</ul>
              	<div class="offset-top-50 offset-lg-top-90">
                	  <h3>Detailed Features</h3>
              	</div>
              	<div class="range range-xs-center offset-top-30 offset-lg-top-50">
                  	<div class="cell-sm-6"><img src="img/servicios/services-06-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                    		<h5 class="text-primary offset-top-20"><a href="#">Transitec Maintenance Leasing Policy</a></h5>
                    		<p>A unique feature of our full maintenance lease policy is that we provide courtesy replacement vehicles allowing you to minimize downtime and business disruption. With a single call to our Leasing Department, we can arrange to send a tow truck to you in the case of a breakdown, or arrange special servicing.</p>
                  	</div>
                  	<div class="cell-sm-6 offset-top-50 offset-sm-top-0"><img src="img/servicios/services-07-370x250.jpg" width="370" height="250" alt="" class="img-responsive reveal-inline-block">
                    		<h5 class="text-primary offset-top-20"><a href="#">Advantages of Using Transitec Leasing Services</a></h5>
                    		<p>We offer our customers a full range of maintenance and leasing services with numerous financial and operational benefits. Financially, your company can preserve capital for other parts of its business that generate a higher return. Operationally, it allows your company to completely focus on its business.</p>
                  	</div>
              	</div>
            </div>
        </div>
        <div class="offset-top-50"><a href="/cotizacion" class="btn btn-primary btn-sm">Cotiza el servico</a></div>
    </section>
</div>