<div ng-controller="serviciosController">
  	<div>
        <img height="300px" src="img/servicios/bg-03-1920x400.jpg">       
    </div>

    <section class="section-80 section-lg-top-90 section-lg-bottom-120">
        <div class="shell text-sm-left">
            <h2>Servicios</h2>
            <hr class="divider divider-lg bg-primary hr-sm-left-0">
            <div class="range range-xs-center range-sm-left offset-top-50">
                <div class="cell-xs-10 cell-sm-8">
                    <p>Welcome to our transportation world. We sincerely hope that each and every user entering our website will find exactly what he/she is looking for.</p>
                </div>
            </div>
            <div class="range text-left range-xs-center offset-top-50">
                <div class="cell-xs-8 cell-sm-6 cell-md-4"><a class="thumbnail-classic" href="/transportacion" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-01-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                        <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Transportacion</h6>
                    </figcaption>
                    </figure></a>
                </div>
                <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0"><a class="thumbnail-classic" href="/logistica" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-02-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Logistica</h6>
                        </figcaption>
                    </figure></a>
                </div>
                <div class="cell-xs-8 cell-sm-6 cell-md-4 offset-top-30 offset-md-top-0"><a class="thumbnail-classic" href="/distribucion" target="_self">
                    <figure><img width="370" height="250" src="img/servicios/service-03-370x250.jpg" alt="">
                        <figcaption class="thumbnail-classic-caption text-center"><span class="icon icon-xxs fa-arrow-right"></span>
                            <h6 class="thumbnail-classic-title offset-top-0 text-uppercase text-light">Servicios de Distribución</h6>
                        </figcaption>
                    </figure></a>
                </div>
            </div>
        </div>
    </section>
</div>