<div ng-controller="transportacionController">
	  <div>
        <img height="300px" src="img/servicios/bg-03-1920x400.jpg">       
    </div>
	  <section class="section-80 section-lg-top-90 section-lg-bottom-120">
        <div>
          	<div class="shell text-sm-left">
            	<h2>Transportación</h2>
            	<hr class="divider divider-lg bg-primary hr-sm-left-0">
            	<div class="range range-xs-center range-sm-left offset-top-50">
              		<div class="cell-xs-10 cell-sm-5 text-sm-left"><img src="img/servicios/about-us-01-451x304.jpg" width="451" height="304" alt="" class="img-responsive"></div>
              		<div class="cell-xs-10 cell-sm-7 offset-top-50 offset-sm-top-0">
                		<p>Our transportation company with 30 years of experience is you best choice for shipping cargo of any size, storage, packing or delivering wares to your customers. Our professional employees will take care of your goods, whenever you send them.</p>
                		<p>You are granted complete control over the process of delivery by phone or by our mobile app. Your freight is tracked every step of the way. We provide a high standard of shipping, regardless of its volume. If your company needs to establish a supply chain, we have prepared several readymade solutions with flexible pricing rates for you. Our urgent cargo services offer defined time frames for convenience of your business. Our supply chain services include shipping, warehousing, packaging, quality control and distribution.</p>
              		</div>
            	</div>
          	</div>
        </div>
      	<div class="shell offset-top-50 offset-lg-top-85">
          	<h3>Our Advantages</h3>
          	<div class="range range-xs-center">
            		<div class="cell-sm-6">
              		<div class="unit unit-md unit-md-horizontal text-md-left">
                			<div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-truck"></span></div>
                			<div class="unit-body">
                  			<h4 class="text-bold font-accent">Fast Delivery</h4>
                  			<p>The optimal transport logistics and the use of large vehicles allow us to offer a favorable price of freight traffic in 24, 48 and 72 hours.</p>
                			</div>
              		</div>
            		</div>
            		<div class="cell-sm-6 offset-top-50 offset-sm-top-0">
                  	<div class="unit unit-md unit-md-horizontal text-md-left">
                    		<div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-map"></span></div>
                			<div class="unit-body">
                  			<h4 class="text-bold font-accent">Branched Network</h4>
                  			<p>We have a widespread network of offices and centers allowing us to take care of your cargo and deliver it quickly to the destination.</p>
                			</div>
                  	</div>
            		</div>
            		<div class="cell-sm-6 offset-top-50">
                  	<div class="unit unit-md unit-md-horizontal text-md-left">
                    		<div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-comments"></span></div>
                    			<div class="unit-body">
                      			<h4 class="text-bold font-accent">24/7 Support</h4>
                      			<p>Our Company offers extensive 24/7 support giving you an opportunity to take care about your cargo every step of its way.</p>
                    			</div>
                  	</div>
            		</div>
            		<div class="cell-sm-6 offset-top-50">
              		<div class="unit unit-md unit-md-horizontal text-md-left">
                			<div class="unit-left"><span class="icon icon-lg icon-circle icon-primary-filled fa-suitcase"></span></div>
                			<div class="unit-body">
                  			<h4 class="text-bold font-accent">Document Preparation</h4>
                  			<p>Our managers will prepare all necessary documentation to get your load to any point on the map as soon as possible.</p>
                			</div>
              		</div>
            		</div>
          	</div>
          	<div class="offset-top-50"><a href="/cotizacion" class="btn btn-primary btn-sm">Cotiza el servicio</a></div>
      	</div>
    </section>
</div>